
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  .menu{
    text-align: center;
    background: #949292;
    border-bottom:solid ;
}
  
  #logo{
    height: 60px;
    padding-left: 20px;
    border-radius: 50%;
    overflow: hidden;
}

  .cordapagina{
    background-color: rgb(205, 198, 198);
}

  #banner{
    width: 100%;
    margin-bottom: 10px;
    height: 800px;
}

  .txtprincipal{
    padding: 20px;
    background-color:#fff9f9;
    margin-left: 25px;
    margin-right: 25px;
    border: solid;
    margin-bottom: 1%;
}
  
  .item-principal{
    margin: 12px 0; 
}
  
  .titulocentralizado{
    text-align: center;
    padding: 30px;
}
  
  p{
      text-align: center;
}
   
  #missao{
      font-size: 20px;
}
  
  em strong{
     color: #FF0000;
}
  
  .itens{
     font-style: italic;
     border-left: 30px;
     padding: 20px;
     margin-left: 30px;
}
  
  .beneficios{
     margin-left: 340px;
}
   
  ul{
      display: inline-block;
      vertical-align: top;
      width: 400px;
      margin-right: 10%;
      margin-top: 1%; 
      font-size: 20px;
}
  
 .imagembeneficio{
      width: 30%;
      vertical-align: bottom;
      margin-top: 1%;
      margin-bottom: 10px;
      height: 270px;
}

.foolter{
 
  padding: 30px;
  border: solid #f3f6f8;
  background: #949292;

.informaçoes{
  font-size: 16px;

}
.curiosidades{
   border: solid;
   background-color: #949292;
   max-width: 100;
   height: 100px;
   text-align: center;
}

.listfoolter{
   display: inline-block;
   vertical-align: top;
   font-size: 13px;
   font-size:#9f0909;
}
